{% extends 'index.html' %}
{% block content %}

<div>Books by {{ author_info.first_name }} {{ author_info.last_name}}:</div>
<br>
{% for book in author_books %}
<div><a href="{% url 'book_details' book_id=book.id %}">{{ book.title }}</a></div>
{% endfor %}
<br>
<div><a href="{% url 'book_list' %}">Back to books list</a>
</div>

{% endblock content %}