{% extends 'index.html' %}
{% block content %}

<div><h1>{{ first_name }} {{ last_name }}</h1></div>
<div>Age: {{ age }}</div>
<div><a href="{% url 'author_books' author_id=id %}">Books by {{ first_name }} {{ last_name }}</a></div>
<br>
<div><a href="{% url 'book_list' %}">Back to books list</a>
</div>

{% endblock content %}