{% extends 'index.html' %}
{% block content %}

<div><h1>{{ author_info.first_name }} {{ author_info.last_name }}</h1></div>
<div>Age: {{ author_info.age }}</div>
<div><a href="{% url 'author_books' author_id=author_info.id %}">Books by {{ author_info.first_name }} {{ author_info.last_name }}</a></div>
<br>
<div><a href="{% url 'book_list' %}">Back to books list</a>
</div>

{% endblock content %}