{% extends 'index.html' %}
{% block content %}
<div><h2>Books:</h2></div>
<form action="" method="get">
    <input type="text" name="search_book_input">
    <input type="submit" value="Search">
    <a href="{% url 'book_list' %}">Drop search</a>
</form>
<br>
<b><a href="{% url 'add_book' %}">+ Add book</a></b>
<br>
<br>
<div><h2>Book list:</h2></div>
{% for book in books %}
<div><a href="{% url 'book_details' book_id=book.id %}">{{ book.title }}</a></div>
<br>
{% endfor %}

{% endblock content %}